* {
    box-sizing: border-box;
  }

body {
    margin: 0px;
    padding: 0px;
  }

.wrapper {
	margin: 0 auto;
	max-width: 43rem;
	margin-top: 200px;
}

.intro {
	font-family: 'Source Sans 3', Times, serif;
	padding-bottom: 100px;
  font-weight: 600px;
  line-height: 26px;
  font-size; 16px;
}

.post {
	padding-bottom: 100px;
}

p.date {
  font-size: 15px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
}

h2.post-title {
  margin-block-start: 0px;
  margin-block-end: 10px;
  font-size: 40px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

p.post-subtitle {
  margin-block-start: 10px;
  margin-block-end: 50px;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

p.body-text {
  margin-block-start: 20px;
  margin-block-end: 20px;
	font-size: 15px;
  font-family: 'Source Sans 3', serif;
  font-weight: 400;
  line-height: 24px;
}

p.caption {
  margin-block-start: 0px;
  margin-block-end: 0px;
	font-size: 15px;
  font-family: 'Source Sans 3', serif;
  color: grey;
  font-weight: 400;
  line-height: 24px;
}

img {
	max-width: 100%;
}
