* {
    box-sizing: border-box;
  }

body {
    margin: 0px;
    padding: 0px;
  }

.wrapper {
	margin: 0 auto;
	max-width: 40rem;
	margin-top: 125px;
}

.wrapper-menu {
  margin: 0px 16px;
  margin-top: 25px;
}

.menu {
  font-family: 'Source Sans 3', Times, serif;
  font-weight: 600px;
  line-height: 26px;
  font-size: 17px;
}

.intro {
	font-family: 'Source Sans 3', Times, serif;
	padding-bottom: 100px;
  font-weight: 600px;
  line-height: 26px;
  font-size: 17px;
}

.post {
	padding-bottom: 100px;
}

p.about-title {
  font-size: 16px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
}

p.date {
  font-size: 15px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
}

h2.post-title {
  margin-block-start: 0px;
  margin-block-end: 10px;
  font-size: 40px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

p.post-subtitle {
  margin-block-start: 10px;
  margin-block-end: 50px;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 28px;
}

p.body-text {
  margin-block-start: 20px;
  margin-block-end: 20px;
	font-size: 15px;
  font-family: 'Source Sans 3', serif;
  font-weight: 400;
  line-height: 24px;
}

p.caption {
  margin-block-start: 0px;
  margin-block-end: 0px;
	font-size: 15px;
  font-family: 'Source Sans 3', serif;
  color: grey;
  font-weight: 400;
  line-height: 24px;
}

h2.about-title {
  margin-block-start: 0px;
  margin-block-end: 30px;
  font-size: 40px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.about-body-text {
	font-family: 'Source Sans 3', Times, serif;
	padding-bottom: 100px;
  font-weight: 600px;
  line-height: 26px;
  font-size: 17px;
}

img {
	max-width: 100%;
}

.wrapper a:link, a:visited {
  border-bottom: 1px solid currentColor; /* Or whatever color you want */
  text-decoration: none;
  color: black;
}

.wrapper-menu a:link {
  text-decoration: none;
}

.wrapper-menu a:hover {
  border-bottom: 1px solid currentColor; /* Or whatever color you want */
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 40 40px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 40px;
  padding-bottom: 80px;
}

.column img {
  margin-top: 100px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .wrapper {
    padding: 0px 10px;
  }
}
.outlined {
  border: 1px solid black;
}
